@model GetUserProfileViewModel
@{
    ViewData["Title"] = "Profile";

    var userProfileVM = Model as GetUserProfileViewModel;
}

<style>
    h1,
    h2,
    h3 {
        text-align: center;
    }

    img {
        border-radius: 10px;
        width: 9.5em;
        height: 14em;
    }

    span,
    h1,
    h2,
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .title {
        font-size: 1em;
    }

    .list,
    .list > div {
        flex-direction: column;
        border: 2px solid dimgray;
        border-radius: 15px;
}

    .list {
        display: flexbox;
        padding: 10px;
        padding-bottom: 25px;
        width: 916px;
    }
    .list > div {
        flex-direction: column;
        display: inline-flex;
        width: 165px;
        height: 236px;
        margin: 5px;
        margin-bottom: 18px;

    }
    .list > div > div{
        margin: 5px;
        text-align: center;
    }
</style>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-dark text-white">
                <img src="" class="card-img-top" alt="User Avatar"
                     style="max-height:300px; max-width:300px;">
                <div class="card-body">
                    <h5 class="card-title">@userProfileVM.User.UserName</h5>
                </div>
            </div>
        </div>
        <div class="col-md-8">       
                    <!-- Last Watches -->
                    <h2>Last Read</h2>
                    @if (userProfileVM.LastWatched is null || userProfileVM.LastWatched.Any() == false)
                    {

                        <h3>there is no last read manga.</h3>
                    }
                    else
                    {
                        <div class="list mb-4">
                            @foreach (var manga in userProfileVM.LastWatched.Take(5).Reverse())
                            {
                                <div>
                                    <div class="img-div">
                                        <img src="@(manga.Cover ?? "https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Black.png/220px-Black.png")" alt="manga cover" />
                                    </div>
                                    <div>
                                        <span class="title"><b>@(manga.Title ?? "Unknown")</b></span>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>